body {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 10% 1fr 10%;
  height: 100vh;
  background-color: rgb(112, 218, 135);
}
header {
  text-align: center;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.menu {
  border-radius: 90px;
  background-color: #242582;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.Button-Rules {
  text-align: center;
  grid-area: 1/2/2/2;
  background-color: #f64c72;
  border-radius: 25px;
  padding: 20px;
  margin-top: 30%;
  margin-bottom: 30%;
  font-size: 100px;
}
.Button-Menu {
  text-align: center;
  grid-area: 1/2/2/2;
  background-color: #f64c72;
  border-radius: 25px;
  padding: 20px;
  font-size: 100px;
}
.menu button {
  background: transparent;
  border: 0;
  font-family: "Sriracha", cursive;
  font-size: 70px;
  color: wheat;
}
.rules {
  border-radius: 90px;
  font-family: "Sriracha", cursive;
  font-size: 50px;
  color: wheat;
  background-color: #242582;
  grid-area: 2/2/3/3;
  text-align: center;
}
.rules button {
  background: transparent;
  border: 0;
  font-family: "Sriracha", cursive;
  font-size: 50px;
  color: wheat;
}
.rules p {
  width: 50%;
  margin-left: 25%;
  font-size: 20px;
}
.game-area {
  border-radius: 90px;
  grid-area: 2/2/3/3;
  display: grid;
  background-color: #242582;
  grid-template-rows: 10% 1fr 20%;
  grid-template-columns: 1fr 30% 30% 30% 1fr;
}

.hidden {
  display: none;
}
